In [1]:
#importing required libraries
import numpy as np
import pandas as pd
import matplotlib as mt

In [2]:
#loading dataset using pandas
df=pd.read_csv('Dummy Data HSS.csv')
df.head(8)

     TV      Radio  Social Media Influencer       Sales
0  16.0   6.566231      2.907983       Mega   54.732757
1  13.0   9.237765      2.409567       Mega   46.677897
2  41.0  15.886446      2.913410       Mega  150.177829
3  83.0  30.020028      6.922304       Mega  298.246340
4  15.0   8.437408      1.405998      Micro   56.594181
5  29.0   9.614382      1.027163       Mega  105.889148
6  55.0  24.893811      4.273602      Micro  198.679825
7  31.0  17.355042      2.289855       Nano  108.733932

In [3]:
#separating input and output
x=df.drop(['Sales'],axis=1)
y=df['Sales']

In [4]:
x.head(8)

     TV      Radio  Social Media Influencer
0  16.0   6.566231      2.907983       Mega
1  13.0   9.237765      2.409567       Mega
2  41.0  15.886446      2.913410       Mega
3  83.0  30.020028      6.922304       Mega
4  15.0   8.437408      1.405998      Micro
5  29.0   9.614382      1.027163       Mega
6  55.0  24.893811      4.273602      Micro
7  31.0  17.355042      2.289855       Nano

In [5]:
x.shape

(4572, 4)

In [6]:
#convert categorical column 'Influencer' into numeric columns or else they would create problems in weight multiplication
x = pd.get_dummies(x, drop_first=True)
#convert True/False to 1.0/0.0
x = x.astype(float)
x.head(8)

,TV,Radio,Social Media,Influencer_Mega,Influencer_Micro,Influencer_Nano
0,16.0,6.566231,2.907983,1.0,0.0,0.0
1,13.0,9.237765,2.409567,1.0,0.0,0.0
2,41.0,15.886446,2.913410,1.0,0.0,0.0
3,83.0,30.020028,6.922304,1.0,0.0,0.0
4,15.0,8.437408,1.405998,0.0,1.0,0.0
5,29.0,9.614382,1.027163,1.0,0.0,0.0
6,55.0,24.893811,4.273602,0.0,1.0,0.0
7,31.0,17.355042,2.289855,0.0,0.0,1.0

In [7]:
y.head(8)

0     54.732757
1     46.677897
2    150.177829
3    298.246340
4     56.594181
5    105.889148
6    198.679825
7    108.733932
Name: Sales, dtype: float64

In [8]:
y.shape

(4572,)

In [9]:
#total number of data points (rows) in the dataset
m = len(x)
#calculate split point
#80% of the data will be used for training
#20% of the data will be used for testing
split_index = int(0.8 * m)
#split features(the input) 80% for traning
x_train = x.iloc[:split_index]
x_test = x.iloc[split_index:]
#split target(the output) 20% for testing
y_train = y.iloc[:split_index]
y_test = y.iloc[split_index:]

In [10]:
#inputs have been divided into training and testing dataset
print(x_train.shape,x_test.shape)

(3657, 6) (915, 6)

In [11]:
#output has been divided into training and testing dataset
print(y_train.shape,y_test.shape)

(3657,) (915,)

In [12]:
#class created according to the assignment
class LinearRegression:
    
    def __init__(self, learning_rate=0.01, epochs=1000, batchsize=32):
        #Initialize the Linear Regression model.
        #learning_rate: controls how big each update step is
        #epochs: number of times we loop over the dataset and during each epoch, the model processes the data in smaller mini-batches
        #batch_size: number of samples in each mini-batch  
        self.learning_rate = learning_rate
        self.epochs = epochs
        self.batchsize = batchsize
        #weights and bias will be initialized during training
        self.weights = None
        self.bias = 0
        
    def fit(self, x, y):
        x = x.values.astype(float)
        y = y.values.astype(float)

        m, n = x.shape

        # initialize weights and bias
        self.weights = np.zeros(n)
        self.bias = 0

        # stochastic gradient descent
        for _ in range(self.epochs):
         for i in range(m):
          # prediction for ONE data point
          y_pred = np.dot(x[i], self.weights) + self.bias
          # error for ONE data point
          error = y_pred - y[i]
          # update weights and bias using ONE sample
          self.weights -= self.learning_rate * error * x[i]
          self.bias -= self.learning_rate * error
 
    def predict(self, x):
        #convert the pandas table into numbers that NumPy can use
        x = x.values
        #calculates prediction by multipling each feature with its weight and adding the bias term
        y_pred = np.dot(x, self.weights) + self.bias
        return y_pred

In [13]:
#creating a Linear Regression model and using the chosen values for the given variables
model = LinearRegression(
    learning_rate=0.01,
    epochs=300,
    batchsize=1 # taking batch size =1 for stochastic gradient decent
    
)
#training the model using training data
model.fit(x_train, y_train)

In [14]:
#now we will predict sales for test dataset using the trained model
y_pred = model.predict(x_test)

In [15]:
#now to check how correct or wrong our model is we will use R2
#taking actual values from the test set
y_true = y_test.values
#taking predicted values from the model
y_pred = y_pred
#calculate the average (mean) of actual values
mean_y = sum(y_true) / len(y_true)
#total error if we always predicted the mean
ss_total = sum((y_true - mean_y) ** 2)
#error made by our model predictions
ss_residual = sum((y_true - y_pred) ** 2)
#R-squared formula
r2 = 1 - (ss_residual / ss_total)
#Print RÂ² score
print("R2 score:", r2)

R2 score: nan

In [16]:
print("ss_total:", ss_total)
print("Any NaN in predictions?", np.isnan(y_pred).any())
print("First 5 y_test:", y_true[:5])
print("First 5 y_pred:", y_pred[:5])
#getting error while calculating R2 showing that predicted value is not correct

ss_total: 7833489.539342919
Any NaN in predictions? True
First 5 y_test: [ 40.15359647 355.9261224  172.8780528  107.3165162  225.8049954 ]
First 5 y_pred: [nan nan nan nan nan]